body{
	background-color: #17254F;
}

main{
	text-align: center;
}

#picture-grid{
	display: grid;
	grid-template-areas: 
		"picture1"
		"picture2"
		"picture3"
		"picture4";
	grid-gap: 1rem;
	place-items: center;
	justify-content: center;
	margin: 1rem auto;
	background-color: #17254F;
}

/* Resizing the grid of pictures via side margins */
@media screen and (min-width: 605px){ 
	#picture-grid{ 
		grid-template-areas: 
			"picture1 picture2"
			"picture3 picture4";
	}
}

.picture{
	padding: 0;
	width: 8rem;
	height: 8rem;
	align-self: stretch;
}

@media screen and (min-width: 605px){ 
	.picture{ 
		width: 16rem;
		height: 16rem;
	}
}

#answer{
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 2rem 1rem;
}

.answerLetter{
	max-width: 4rem;
	max-height: 4rem;
	font-size: 24px;
	margin: 0.25rem;
}

#letters{
	display: grid;
	grid-template-areas: 
		"letter0 letter1 letter2 letter3 letter4 letter5 greenImageButton"
		"letter6 letter7 letter8 letter9 letter10 letter11 greenImageButton";
	place-items: center;
	width: 34rem;
	margin-left: auto;
	margin-right: auto;
}

#letter0{ grid-area: letter0; }
#letter1{ grid-area: letter1; }
#letter2{ grid-area: letter2; }
#letter3{ grid-area: letter3; }
#letter4{ grid-area: letter4; }
#letter5{ grid-area: letter5; }
#letter6{ grid-area: letter6; }
#letter7{ grid-area: letter7; }
#letter8{ grid-area: letter8; }
#letter9{ grid-area: letter9; }
#letter10{ grid-area: letter10; }
#letter11{ grid-area: letter11; }

.letter{
	width: 4rem;
	height: 4rem;
	font-size: 24px;
	margin: 0.25rem;
}

.letter > p, .answerLetter > p {
	margin: 0;
	padding: 0;
	text-align: center;
}

#imageButton{
	grid-area: greenImageButton;
	place-self: center;
	background-image: linear-gradient(#a2d138, #72a20c);
	width: 4.5rem;
	height: 8.5rem;
	padding: 0;
	border-radius: 5px;
}

#greenButton{
	max-width:100%;
	max-height:100%;
}

#zoomedPicDiv{
	display: flex;
	justify-content: center;
}

#zoomedPicDiv img{
	width: 40rem;
	height: auto;
}

@media screen and (max-width: 1024px){ #zoomedPicDiv img{
		width: 30rem;
		height: auto;
	}
}

@media screen and (max-width: 768px){
	#zoomedPicDiv img{
		width: 25rem;
		height: auto;
	}
}

@media screen and (max-width: 425px){
	#zoomedPicDiv img{
		min-width: 20rem;
		min-height: auto;
	}
}

@media screen and (max-width: 375px){
	#zoomedPicDiv img{
		min-width: 15rem;
		min-height: auto;
	}
}

.bold{
	font-weight: bold;
}